@import "tailwindcss";

:root {
    margin: 0;
    padding: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    background-color: white;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
    width: 100%;
    overflow-x: hidden;
    min-height: 100dvh;
}

body {
    transition: background-image 1s ease-in-out,  background-color 1s ease-in-out;
    will-change: background-color, background-image;
    color: #1e293b;
}

body.bg-default-day {
    background-color: #e0f2fe;
    background-image: linear-gradient(to bottom, #e0f2fe, #bae6fd);
}

body.bg-clear-day {
    background-color: #bae6fd;
    background-image: linear-gradient(to bottom, #7dd3fc, #38bdf8);
}

body.bg-rain-day {
    background-color: #64748b;
    background-image: linear-gradient(to bottom, #94a3b8, #64748b);
}

body.bg-snow-day {
    background-color: #f8fafc;
    background-image: linear-gradient(to bottom, #f1f5f9, #e2e8f0);
}

body.bg-fog-day {
    background-color: #cbd5e1;
    background-image: linear-gradient(to bottom, #cbd5e1, #94a3b8);
}

body.bg-cloudy-day {
    background-color: #e2e8f0;
    background-image: linear-gradient(to bottom, #f1f5f9, #cbd5e1);
}

body.bg-default-night {
    background-color: #0f172a;
    background-image: linear-gradient(to bottom, #1e293b, #0f172a);
}

body.bg-clear-night {
    background-color: #020617;
    background-image: linear-gradient(to bottom, #0f172a, #020617);
}

body.bg-rain-night {
    background-color: #1e293b;
    background-image: linear-gradient(to bottom, #334155, #1e293b);
}

body.bg-snow-night {
    background-color: #1e293b;
    background-image: linear-gradient(to bottom, #334155, #1e293b);
}

body.bg-fog-night {
    background-color: #475569;
    background-image: linear-gradient(to bottom, #64748b, #475569);
}

body.bg-cloudy-night {
    background-color: #334155;
    background-image: linear-gradient(to bottom, #475569, #334155);
}
